[submodule "src/StmEpic"]
	path = src/StmEpic
	url = git@github.com:X-Lemon-X/StmEpic.git
[submodule "src/moducard_firmware"]
	path = src/moducard_firmware
	url = git@github.com:X-Lemon-X/moducard_firmware.git
[submodule "src/can_constants"]
	path = src/can_constants
	url = git@github.com:KoNarRobotics/can_constants.git
